%global-width {
    padding: 1.5rem;
}

@mixin transition($property) {
    transition: $property .2s ease;
}

@mixin grid-container {
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}