.overview-section {
    @extend %global-width;


    &__title {
        color: var(--text-primary);
        padding: 0 2rem 2rem 0;
        @include transition(color);
    }

    &__list {
        padding-top: 0;
        display: grid;

        @media only screen and (min-width: 480px) {
            @include grid-container();
        }
    }


}